<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>  
        <div id="app">       
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                            <div class="card bg-info">
                                    <img src="img/ecuacion2grado.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Ecuación de 2do Grado</h5>
                                            
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <input type="text" class="form-control" placeholder="valor a" v-model="a" v-on:keyup="ecuacion2grado">
                                            </li>
                                            <li class="list-group-item">
                                                <input type="text" class="form-control" placeholder="valor b" v-model="b" v-on:keyup="ecuacion2grado">
                                            </li>
                                            <li class="list-group-item">
                                                <input type="text" class="form-control" placeholder="valor c" v-model="c" v-on:keyup="ecuacion2grado">
                                            </li>
                                            <li v-if="solucion" class="list-group-item">
                                                <h3>Solución</h3>
                                                X1= {{x1}} y X2= {{x2}}
                                            </li>
                                            <li v-else="solucion" class="list-group-item">
                                                <h3 class="bg-danger">Solucion de raices imaginarias</h3>                                
                                            </li>
                                        </ul>                    
                                    </div>
                                </div> 
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>

                     
        </div>  
       
       <script>
            var x=new Vue({
                el:"#app",
                data:{
                    a:"",
                    b:"",
                    c:"",
                    discriminante:0,
                    x1:0,
                    x2:0,
                    solucion:true
                },
                methods: {
                    ecuacion2grado:function(){
                        
                        this.discriminante=(this.b*this.b)-(4*this.a*this.c);
                        if(this.discriminante>=0){                            
                            this.x1=(-1*(this.b)+(Math.sqrt(this.discriminante)))/(2*this.a);
                            this.x2=(-1*(this.b)-(Math.sqrt(this.discriminante)))/(2*this.a);                            
                            this.solucion=true;
                        }
                        else{
                            this.solucion=false;
                        }
                    }
                },
            });
        </script>
    </body>
</html>